@import url(fontawesome-all.min.css);

/*font text*/

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");
* {
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    box-sizing: border-box;
}


/* //////////////////////////////////////////////////////////////// */


/* section 1 */

.header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
    -webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
    -ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
    transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
    background-image: -moz-radial-gradient(rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 55%);
    background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 55%);
    background-image: -ms-radial-gradient(rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 55%);
    background-image: radial-gradient(rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 55%);
    max-width: 100%;
    text-align: center;
}

.header>* {
    -moz-transition: opacity 0.325s ease-in-out;
    -webkit-transition: opacity 0.325s ease-in-out;
    -ms-transition: opacity 0.325s ease-in-out;
    transition: opacity 0.325s ease-in-out;
    position: relative;
    padding-top: 3.5rem;
}

.header> :first-child {
    margin-top: 0;
}

.header> :first-child:before {
    display: none;
}

.header nav ul {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    border: solid 1px #ffffff;
    border-radius: 4px;
}

.header nav ul li {
    padding-left: 0;
    border-left: solid 1px #ffffff;
}

.header nav ul li:first-child {
    border-left: 0;
}

.header .content .inner> :last-child {
    margin-bottom: 0;
}

.header nav ul li a {
    display: block;
    min-width: 7.5rem;
    height: 2.75rem;
    line-height: 2.75rem;
    padding: 0 1.25rem 0 1.45rem;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    color: rgb(252, 250, 250);
    font-size: 15px;
}

.header nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.075);
    color: aqua;
}

.header nav ul li a:active {
    background-color: rgba(255, 255, 255, 0.175);
}

video {
    margin-top: -171px;
    margin-right: 5px;
}

.text-box {
    position: absolute;
    top: 12px;
    left: 299px;
}

.content {
    padding-top: 200px;
    padding-left: 400px;
}

.content p {
    text-align: left;
    font-size: 100px;
    margin-left: -280px;
    color: aliceblue
}

.animated-word {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -280px;
}

.letter {
    transition: 0.4s;
    transform: translateX(0);
    cursor: grab;
    color: green;
    text-align: left;
    font-size: 100px;
    margin-left: 10px;
    font-weight: bold;
}

.letter:hover {
    transform: translateY(-1rem);
    background: -o-repeating-linear-gradient(120deg, hsk(19, 90%, 52%), hsk(56, 100%, 50%));
    -webkit-text-fill-color: transparent;
    color: red;
}

.content h2 {
    margin-left: -260px;
    color: aliceblue;
}


/* section 2 */

.container {
    position: relative;
    width: 100%;
}

.box_intro {
    position: absolute;
    background-color: gray;
    height: 600px;
    width: 700px;
    left: 418px;
    top: 752px;
    border-radius: 15px;
}

.image img {
    border-radius: 50%;
    width: 40%;
    padding: 20px;
    margin-left: 200px;
    margin-top: 20px;
}

.box_intro p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 20px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}


/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon>.label {
    display: none;
}

.icon:before {
    line-height: inherit;
}

.icon.solid:before {
    font-weight: 900;
}

.icon.brands:before {
    font-family: 'Font Awesome 5 Brands';
}

.icons li {
    display: inline-block;
    font-size: 20px;
    margin: 5px;
}

.icons li a {
    border-radius: 4px;
    top: 1px;
    left: 20px;
    /* background-color: wheat; */
    padding: 10px;
    text-align: center;
    color: rgba(247, 247, 247, 0.937);
}


/* sectionn 3 */

.content_tools h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 90px;
    padding-top: 750px;
}

.content_tools p {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 30px;
    text-align: center;
}


/* section 4 */

.box_project {
    position: relative;
    background-color: rgb(45, 42, 42);
    height: 700px;
}

.box_project>* {
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}

.myProject {
    margin-left: 680px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(155, 152, 152);
    font-size: 20px;
}

.myProject:hover {
    color: antiquewhite;
    text-decoration: none;
}


/* .box_contract */

.box_contract {
    position: absolute;
    background-color: rgb(51, 50, 50);
    height: 600px;
    width: 700px;
    left: 418px;
    bottom: 32px;
    border-radius: 15px;
}


/* contract */

.major {
    margin: 60px;
    font-weight: bold;
    color: white;
    border-bottom: 3px solid white;
    margin-right: 450px;
}

article label {
    /* font-weight: bold; */
    font-family: 'Times New Roman', Times, serif;
    color: rgb(236, 236, 236);
}

.btn_sent {
    color: rgb(21, 21, 21);
    font-weight: bold;
    margin: 10px;
    margin-left: 130px;
    background-color: rgb(161, 161, 161);
}

.btn_reset {
    color: rgb(238, 237, 237);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(18, 18, 19);
}

.row {
    padding: 2px;
}


/* footer */

.footer {
    background-color: rgb(57, 54, 54);
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 15px;
    padding: 10px;
}
